.proj {

    &__inner {

        margin: 64px 0 128px 0;
    }

    &__text-gray {

        color: var(--gris-color);
        letter-spacing: 0.15px;
    }

    &__title {

        letter-spacing: -0.5px;
        margin: 24px 0 64px 0;
    }

    &__item {

        width: 1154px;
        height: auto;
        border-radius: var(--border-radius);
    }
}