.header {
  @include fliud-text(16, 16);
  font-weight: 500;
}

.header__inner {
  border-bottom: var(--border);
  margin-block: 18px;
}

.header__inner {
  @include flex-center;
  justify-content: space-between;
}

.header__list {
  @include flex-center;
  gap: 23px;
}

.header__link {
  position: relative;
}

.header__link {
  position: relative;
}

.header__link::before {
  position: absolute;
  content: "";
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: var(--primario-color);

  opacity: 0;
  transition: 0.5s;
}

.header__link:hover::before {
  opacity: 1;
}
