.header__inner {
    border-bottom: var(--border);
    margin-block: 18px;
}

.header__inner {
    @include flex-center;
    justify-content: space-between;
}

.header__list {
    @include flex-center;
    gap: 23px;
}

.header__link-active {
    position: relative;
}

.header__link-active::before {
    position: absolute;
     content: '';
     bottom: -5px;
     width: 40px;
     height: 3px;
    background-color: var(--primario-color);
}
