:root {
    --primario-color: #5C62EC;
    --white-color: #FFFFFF;
    --hover-color: #5C62EC;
    --acento-color: #85BFD1;
    --gris-color: #A0A0A1;
    --rellenos-color: #1C1E22;
    --bordes-color: #26292D;
    --fondo-color: #171718;

    --border-radius: 8px;
    --border-radius-small: 5px;

    --ff: 'DM Sans', 'sans-serif';

    --container-width: 1155px;
    --container-padding-x: 16px;

    --section-padding-y: 128px;
    --nav-padding-y: 18px;
    --section-padding-top: 0px;

    --transition-duration: 0.2s;

    --border: 1px solid var(--bordes-color);
    

}