html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --primario-color: #5C62EC;
  --white-color: #FFFFFF;
  --hover-color: #5C62EC;
  --acento-color: #85BFD1;
  --gris-color: #A0A0A1;
  --rellenos-color: #1C1E22;
  --bordes-color: #26292D;
  --fondo-color: #171718;
  --border-radius: 8px;
  --border-radius-small: 5px;
  --ff: "DM Sans", "sans-serif";
  --container-width: 1155px;
  --container-padding-x: 16px;
  --section-padding-y: 128px;
  --nav-padding-y: 18px;
  --section-padding-top: 0px;
  --transition-duration: 0.2s;
  --border: 1px solid var(--bordes-color);
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  scroll-behavior: smooth;
  font-family: var(--ff);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.28;
  color: var(--white-color);
  background-color: var(--fondo-color);
}

body, html {
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(34px, 4.1666666667vw, 60px);
  font-weight: 700;
}

h2 {
  font-size: clamp(26px, 3.3333333333vw, 48px);
  font-weight: 500;
}

h3 {
  font-size: clamp(19px, 2.3611111111vw, 34px);
  font-weight: 500;
}

h4 {
  font-size: clamp(14px, 1.6666666667vw, 24px);
  font-weight: 400;
}

h5 {
  font-size: clamp(12px, 1.3888888889vw, 20px);
  font-weight: 500;
}

p {
  font-size: clamp(10px, 1.1111111111vw, 16px);
  font-weight: 500;
}

.header {
  font-size: clamp(16px, 1.1111111111vw, 16px);
  font-weight: 500;
  position: sticky;
  top: 0;
}

.header__inner {
  border-bottom: var(--border);
  margin-block: 18px;
}

.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.header__link {
  position: relative;
}

.header__link {
  position: relative;
}

.header__link::before {
  position: absolute;
  content: "";
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: var(--primario-color);
  opacity: 0;
  transition: 0.5s;
}

.header__link:hover::before {
  opacity: 1;
}

.header__menu {
  width: 42px;
  height: 42px;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.header__nav__btn-menu {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 42px;
  height: 42px;
  position: relative;
  width: 16px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--white-color);
}

.header__nav__btn-menu::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--white-color);
  top: 4px;
  right: 0;
}

.header__nav__btn-menu::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--white-color);
  top: -4px;
  left: 0;
}

.header__nav__mobile {
  transition: ease-in 0.2s;
  display: none;
}
@media (max-width: 767px) {
  .header__nav__mobile {
    display: none;
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    top: 100%;
    background-color: var(--fondo-color);
  }
}

.header__mobile__link {
  font-size: clamp(16px, 2.2222222222vw, 32px);
  margin-bottom: 25px;
}

.main__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 128px 0 306px 0;
}
@media (max-width: 767px) {
  .main__inner {
    padding-bottom: 128px;
  }
}
.main__tittle {
  line-height: 71px;
}
.main__tittle span {
  color: var(--primario-color);
}
@media (max-width: 1023px) {
  .main__tittle {
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .main__tittle {
    line-height: 40px;
  }
}
.main__text {
  margin: 16px 0 32px 0;
  font-size: clamp(16px, 1.3888888889vw, 20px);
  font-weight: 500;
  line-height: 24px;
}
.main__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 767px) {
  .main__buttons {
    flex-direction: column;
  }
}
.main__link {
  font-weight: 500;
  line-height: 16px;
  height: 48px;
  background-color: var(--primario-color);
  padding: 16px 31.5px;
  border-radius: var(--border-radius-small);
}
.main__button-upload {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: 500;
  line-height: 16px;
  width: 169px;
  height: 48px;
  background-color: inherit;
  border: var(--border);
  border-color: var(--white-color);
  padding: 16px 20px;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .main__button-upload:hover {
    background-color: var(--primario-color);
    border-color: var(--primario-color);
  }
}
@media (hover: none) {
  .main__button-upload:active {
    background-color: var(--primario-color);
    border-color: var(--primario-color);
  }
}
.main__button-svg {
  margin-right: 8px;
}

.about__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--rellenos-color);
  padding: 24px;
  width: 967px;
  height: auto;
  position: relative;
  margin: 0 auto;
  gap: 32px;
}
@media (max-width: 1023px) {
  .about__inner {
    flex-direction: column;
    width: 690px;
  }
}
@media (max-width: 767px) {
  .about__inner {
    width: 100%;
  }
}
.about__photo-me {
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .about__photo-me {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
}
.about__tittle {
  margin-bottom: 32px;
  font-size: clamp(24px, 3.3333333333vw, 48px);
  line-height: 57px;
}
@media (max-width: 1023px) {
  .about__tittle {
    line-height: 32px;
    margin-bottom: 16px;
  }
}
.about__text {
  margin-bottom: 7px;
  font-size: clamp(16px, 1.1111111111vw, 16px);
  line-height: 28px;
}
.about__link {
  display: inline-flex;
  align-items: center;
  border: var(--border);
  border-color: var(--white-color);
  border-radius: var(--border-radius);
  padding: 16px 20px;
  background-color: inherit;
  margin-top: 24px;
}
@media (hover: hover) {
  .about__link:hover {
    background-color: var(--primario-color);
    border-color: var(--primario-color);
  }
}
@media (hover: none) {
  .about__link:active {
    background-color: var(--primario-color);
    border-color: var(--primario-color);
  }
}
.about__arrow-right {
  margin-left: 12px;
}

.projects__inner {
  padding: 128px 0;
}
@media (max-width: 767px) {
  .projects__inner {
    padding: 64px 0;
  }
}
.projects__tittle {
  line-height: 40px;
  margin-bottom: 64px;
}
@media (max-width: 1280px) {
  .projects__tittle {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .projects__tittle {
    text-align: left;
    margin-bottom: 32px;
  }
}
.projects__items {
  display: grid;
  gap: 24px;
}
@media (max-width: 767px) {
  .projects__items {
    gap: 20px;
  }
}
.projects__image {
  border-radius: var(--border-radius);
  max-width: 1155px;
}
@media (max-width: 1280px) {
  .projects__image {
    display: block;
    margin-inline: auto;
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .projects__image {
    max-width: 747px;
  }
}
@media (max-width: 767px) {
  .projects__image {
    width: 100%;
  }
}
.projects__link {
  max-width: 218px;
  margin-inline: auto;
  margin-top: 32px;
}
.projects__link-arrow {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .projects__link {
    max-width: 100%;
  }
}
.projects__link-tittle {
  background-color: var(--primario-color);
  padding: 16px 20px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  font-family: var(--ff);
  font-size: clamp(14px, 0.9722222222vw, 14px);
  font-weight: 400;
}
.footer__first {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  border-top: var(--border);
  padding-block: 65px;
}
@media (max-width: 767px) {
  .footer__first {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.footer__two {
  border-top: var(--border);
  margin-bottom: 32px;
  padding-top: 17px;
}
@media (max-width: 767px) {
  .footer__two {
    text-align: center;
  }
}
.footer__list-accent {
  color: var(--acento-color);
}
.footer__link {
  padding-bottom: 24px;
}
.footer__link-socials {
  display: flex;
  gap: 16px;
}
.footer__incio,
.footer .contactname,
.footer .social {
  margin-inline: 20px;
}
@media (max-width: 767px) {
  .footer__incio,
  .footer .contactname,
  .footer .social {
    margin-top: 32px;
  }
}
.footer svg path {
  fill: var(--acento-color);
}

.acerca__inner {
  display: flex;
  justify-content: space-between;
  gap: 140px;
  padding-top: 64px;
  padding-bottom: 128px;
}
@media (max-width: 950px) {
  .acerca__inner {
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding-bottom: 64px;
  }
}
@media (max-width: 950px) {
  .acerca__right {
    width: 448px;
  }
}
@media (max-width: 767px) {
  .acerca__right {
    width: 100%;
  }
}
.acerca__avatar {
  border-radius: 8px;
}
@media (max-width: 950px) {
  .acerca__avatar {
    width: 100%;
    height: auto;
  }
}
.acerca__tittle {
  margin-bottom: 24px;
}
.acerca__info {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}
.acerca__text {
  font-size: clamp(16px, 1.1111111111vw, 16px);
  line-height: 28px;
  font-weight: 400;
}
.acerca__mail {
  display: inline-block;
  margin-top: 10px;
  color: var(--primario-color);
  font-size: clamp(16px, 1.1111111111vw, 16px);
}

.skills__inner {
  margin-bottom: 128px;
}
@media (max-width: 767px) {
  .skills__inner {
    margin-bottom: 64px;
  }
}
.skills__tittle {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .skills__tittle {
    margin-bottom: 32px;
  }
}
.skills__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.skills__item {
  background-color: var(--rellenos-color);
  width: 354px;
  height: auto;
  padding: 24px;
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .skills__item {
    width: 100%;
  }
}

.item__icon {
  margin-bottom: 10px;
}
.item__tittle {
  margin-bottom: 10px;
}
.item__text {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 28px;
  letter-spacing: 0.44px;
}/*# sourceMappingURL=styles.css.map */